
<h1> Order Details</h1> 
<div>
  <% if @allCount != 0 %>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  <%= @allCount%> Friends Invited
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  <% end %> 
</div> 

  
  

<h1> Add new detail</h1> 
<%# List all Order Details %>
<% if @ordersDetails.any? %>
  <table class="table table-striped h5">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Amount</th>
        <th scope="col">Price</th>
        <th scope="col">Comment</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
      <tbody>
        <% @ordersDetails.each do |order| %>
          <tr>
            <th scope="row"><%= order.item %></th>
            <td><%= order.amount %></td>
            <td><%= order.price %></td>
            <td><%= order.comment %></td>
            <td> <%= link_to 'delete', order, class: "btn btn-danger", method: :delete%> </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  
<% end %>

<% if @orderDetails.errors.any? %>
    <div class="alert alert-danger">
        <ul>
            <% @orderDetails.errors.full_messages.each do |message|%>
                <li> <%= message%> </li>
            <% end %>
        </ul>
    </div>
<% end %>

<%# Add New Details to Order %>
<%= form_for(@orderDetails,  url:@orderDetails) do |f| %>
    <div class="form-group">
      <%= f.text_field(:item, placeholder: "Item....", class: "form-control" ) %>
    </div>
    <div class="form-group">
      <%= f.text_field(:amount, placeholder: "Amount....", class: "form-control" ) %>
    </div>
    <div class="form-group">
      <%= f.text_field(:price, placeholder: "price....", class: "form-control" ) %>
    </div>
    <div class="form-group">
        <%= f.text_area(:comment,placeholder: "Any Comments?", rows: 5, class: "form-control") %>
    </div>
    <%= submit_tag( "Add", class: "btn btn-success btn-block") %>
<% end %>
<br>


