<div class="media-heading">

  <p> <%= notification.actor.name %> invited you to join his  <%= link_to "order", main_app.order_path(notification.target) %>  </p>
 
  <span> 
   ( 
  <% if notification.second_target != nil %>
  <%=
   if notification.second_target.status == "accepted" || notification.second_target.status == "rejected"
  notification.second_target.status
    end
    %> 
  <% end %>
     )
    </span>

   <% if notification.second_target != nil %>
  <% unless  notification.second_target.status === "accepted" || notification.second_target.status === "rejected" %>
    
    <%= form_tag(main_app.invitation_path(notification.second_target.id), :method => "patch") do |f| %>
    <%= submit_tag("Accept") %>
    <% end %>

    <%= form_tag(main_app.invitation_path(notification.second_target.id), :method => "patch") do |f| %>
    <%= submit_tag("Reject") %>
    
    <% end %>
  <% end %>
   <% end %>
</div>
