<div class="center">
<div class="row">
<div class="col-md-6" >
<h2> Latest Orders</h2>
<br>
 <% @orders.each do |order| %>       
            <%= link_to order.order_for , main_app.new_order_detail_path(order)  %> on <%= order.created_at%>
            <br>
            <br>
 <% end %>
    <% @invitations.each do |invitation| %>
        <% if invitation.order.status == "waiting" %>
           <%= link_to invitation.order.order_for , main_app.new_order_detail_path(invitation.order)  %> on <%=invitation.order.created_at %>
        <% end %>
    <% end %>
</div>
<div class="col-md-6" >
<h2> Latest Friends Activity</h2>
   <% @activities.each do |activity| %>
      <div>
      <%= activity.order.user.name  %> made a <%= link_to activity.order.order_for , main_app.new_order_detail_path(activity.order)  %> order
</div>
      <% end %>
            </div>
</div>
</div>
