<%if @orders.any? || @invitations.any?%>
  <table class="table table-striped h5">
    <thead>
      <tr>
        <th>Meal</th>
        <th>Restaurant</th>
        <th>Invited</th>
        <th>Joined</th>
        <th>Status</th>
        <th>Action</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>

      <% @orders.each do |order| %>
        <tr>
          <td><%= order.order_for %></td>
          <td><%= order.restaurant_name %></td>
          <td><%= order.invitations.count %></td>
          <td><%= order.invitations.where(:status => "accepted").count %></td>
          <td><%= order.status %></td>
          <td>
          <%= link_to "View", main_app.order_detail_path(order)  %> 
          <% if order.status == "waiting" %>
          <%= link_to "Finish", main_app.order_path(order,todo: 'finish'), method: :patch  %>
          <%= link_to 'Cancel',  main_app.order_path(order,todo: 'cancel'), method: :patch, data: { confirm: 'Are you sure?' } %>        
          <% end %>
          </td>
        </tr>
      <% end %>
      <% @invitations.each do |invitation| %>
          <% @order= invitation.order %>
        <tr>
          <td><%= @order.order_for %></td>
          <td><%= @order.restaurant_name %></td>
            <td> <%= @order.invitations.count %> </td>
          <td><%= @order.invitations.where(:status => "accepted").count %></td>
          <td><%= @order.status %></td>
          <td>
          <%= link_to "View", main_app.order_detail_path(@order)  %> 
          
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
    <h1>No Orders</h1>
<% end %>

<%= link_to "Create New Order", main_app.new_order_path  %> 
<br>