<% if(@order.errors.any?) %>
<div class="alert alert-danger">
  <ul>
  <% @order.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
<div class="errorMsg">
    <% if flash[:error] %>
        <div class="alert alert-success" role="alert"><%=flash[:error]%></div>
    <% end %>
</div>
<div class="container center">
<%= form_for Order.new, url: orders_path, :multipart => true, local: true do |form| %>
<div class="row">
    

    <div class="col">
        
        <div class="form-group">
            <label for="orderTypeControlSelect1">Order for</label>
            <select name="order_for" class="form-control" id="selectTypeControlSelect1">
                <option>Lunch</option>
                <option>Breakfast</option>
            </select>
        </div>
        <div class="form-group">
            <label for="restaurantControlInput1">From</label>
            <input name="restaurant_name" type="text" class="form-control" id="restaurantControlInput1" placeholder="restaurant name...">
        </div>
        <small id="emailHelp" class="form-text text-muted">Write restaurant name.</small>
        <div class="form-group dropdown">
            <label for="friendControlInput1">Friends</label>
            <div id="myDropdown" class="dropdown-content show">
                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <div id="results">
                </div>
            </div>
        </div> 
        <hr>
        <small id="emailHelp" class="form-text text-muted">You can write a friend name or group.</small>
        <div class="form-group">
            <label for="menuControlFile1">Menu Image</label>
             <%= form.file_field :picture, class: "form-control-file", id: "menuControlFile1" %> 
        </div>
        <%= form.submit type:'submit', class:'btn btn-primary btn-block'%>
        
    </div>
    <div class="col card">
        <h3>Friends invited</h3>
        <div id="invited" class="row">
            
        <div>
        
    <div>
    
</div>
</div>
<%end%>