<!DOCTYPE html>
<html>
  <head>
    <title>Yalanotlob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>  
      <%= csrf_meta_tags %>  
    <link rel="stylesheet" href="/orders/newOrder.css">
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/orders/newOrder.js"></script> 
  </body>
</html>
