<!DOCTYPE html>
<html>
  <head>
    <title>Yalanotlob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar  navbar-inverse">
  <div class="navbar-class">
    <div class="container">

    <!-- Collect the nav links, forms, and other content for toggling -->

    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <li><%= link_to 'Edit profile', "/users/edit", :class => 'navbar-link' %> |
      <%= link_to "Sign out", "/users/sign_out", :method => :delete %>
       <li> <%= link_to pluralize(Notification.unread_count(current_user), 'Notification' ), "/notifications"%></li>
      <% else %>
      <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    </li>
   

      <% end %>
      </ul>

    </div>
  </div>
</header>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
